Django
django-allauth>=0.38.0
django-filter>=2.1.0
django-widget-tweaks>=1.4.3
djangorestframework>=3.9.1
django-extensions>=2.1.4
django-werkzeug-debugger-runserver>=0.3.1
lxml>=4.3.0
oauthlib>=3.0.1
pydot>=1.3.0
pyquery>=1.4.0
pyzmq>=17.1.2
qrcode>=6.1
requests>=2.20.1
requests-oauthlib>=1.2.0
six>=1.11.0
setuptools>=18.0.0
tensorflow<=1.15.0
Keras>=2.2.2
Keras-Applications>=1.0.4
Keras-Preprocessing>=1.0.2
h5py>=2.8.0
Pillow
selenium
