{% extends "base_api.html" %}

{% block content %}
  <div id="app" class="container">
      <form class="" id="faceform" action="https://api-cn.faceplusplus.com/cardpp/v1/ocrbankcard" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-group col-md-6 col-center-block">
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="image_file" @change="getFile1" id="image_file1" aria-describedby="inputGroupFileAddon01">
            <label class="custom-file-label" for="image_file1">Choose file</label>
          </div>
        </div>
      </form>
      <br>
      <div class="col-md-6 col-center-block">
        <button type="button" @click="submit" class="btn btn-dark">Identify</button>
        <br>
        <br>
        <span id="shownumber"></span>
        <br>
        <span id="showorganization"></span>
        <br>
        <span id="showbank"></span>
        <br>
      </div>
      <div class="row">
        <div class="col-md-6 col-center-block">
          <img class="img-responsive" id="img1" :src="src1" hidden>
        </div>
      </div>
  </div>

{% endblock content %}
