{% extends "base_api.html" %}

{% block content %}
  <div id="app" class="container">
      <form class="" id="faceform" action="https://api-cn.faceplusplus.com/facepp/v3/compare" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-group col-md-6 col-center-block">
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="image_file1" @change="getFile1" id="image_file1" aria-describedby="inputGroupFileAddon01">
            <label class="custom-file-label" for="image_file1">Choose file</label>
          </div>
        </div>
        <br>
        <div class="input-group col-md-6 col-center-block">
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="image_file2" @change="getFile2" id="image_file2" aria-describedby="inputGroupFileAddon02">
            <label class="custom-file-label" for="image_file2">Choose file</label>
          </div>
        </div>
      </form>
      <br>
      <div class="col-md-6 col-center-block">
        <button type="button" @click="submit" class="btn btn-danger">Campare</button>
        <br>
        <br>
        <span id="showconfidence"></span>
        <br>
      </div>
      <div class="row">
        <div class="showImage col-md-3 col-center-block">
          <img id="img1" :src="src1" hidden>
        </div>
        <div class="showImage col-md-3 col-center-block">
          <img id="img2" :src="src2" hidden>
        </div>
      </div>

  </div>
{% endblock content %}

