{% extends "theme.html" %}
{% load static %}

{% block style %}
  <style>
      #app {
          font-family: 'Avenir', Helvetica, Arial, sans-serif;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          text-align: center;
          color: #2c3e50;
      }
      div.showImage{
          width: 1080px;
          margin: 20px auto;
          text-align: center;
      }
      div.showImage::after{
          content: '';
          display: block;
          clear: both;
      }
      div.showImage > button{
          margin-top: 280px;
      }
      #img1{
          width: 100%;
          height: 400px;
          float: left;
      }
      #img2{
          width: 350px;
          height: 600px;
          float: right;
      }
      #faceform{
          text-align: center;
      }
      .col-center-block {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
  </style>
{% endblock style %}

{% block content %}

{% endblock content %}

