{% extends "theme.html" %}
{% load staticfiles %}

{% block style %}
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <style>
        #app {
            font-family: 'Avenir', Helvetica, Arial, sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            text-align: center;
            color: #2c3e50;
        }
        div.showImage{
            width: 1080px;
            margin: 20px auto;
            text-align: center;
        }
        div.showImage::after{
            content: '';
            display: block;
            clear: both;
        }
        div.showImage > button{
            margin-top: 280px;
        }
        #img1{
            width: 350px ;
            height: 600px;
            float: left;
        }
        #img2{
            width: 350px;
            height: 600px;
            float: right;
        }
        #faceform{
            text-align: center;
        }
        .col-center-block {
          float: none;
          display: block;
          margin-left: auto;
          margin-right: auto;
        }

    </style>
{% endblock style %}

{% block content %}

{% endblock content %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<script>
    var app = new Vue({
      el: '#app',
      data:{
          src1: '',
          src2: '',
          file1: null,
          file2: null,
          confidence:false
      },
      methods:{
        submit:function(){
            var self = this
            $('#showconfidence').text('In the calculation, please wait...')
            $.ajax({
                url: 'face_compare_request/',
                type: 'POST',
                cache: false,
                data: new FormData($('#faceform')[0]),
                processData: false,
                contentType: false
            }).done(function(res) {
                $('#showconfidence').text('Similarity：'+res.confidence)
            }).fail(function(res) {
                console.log(res)
            });
        },
        getFile1:function($event){
          this.file1 = $event.target.files[0];
          var reader = new FileReader();
          reader.readAsDataURL(this.file1);
          var app = this;
          reader.onloadend=function() {
              app.src1 = this.result;
              $('#img1').attr('hidden',false)
          };
        },
        getFile2:function($event){
          this.file2 = $event.target.files[0];
          var reader = new FileReader();
          reader.readAsDataURL(this.file2);
          var app = this;
          reader.onloadend=function() {
              app.src2 = this.result;
              $('#img2').attr('hidden',false)
          };
        }
      }
    })
</script>
{% endblock scripts %}
