{% extends "theme.html" %}
{% load staticfiles %}
{% block style %}
  <style>
      #app {
          font-family: 'Avenir', Helvetica, Arial, sans-serif;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          text-align: center;
          color: #2c3e50;
      }
      div.showImage > button{
          margin-top: 280px;
      }
      #img1{
          width: 800px ;
          height: 350px ;
          text-align: center;
      }
      #faceform{
          text-align: center;
      }
      .col-center-block {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      .img-responsive {
        display: block;
        height: auto;
        max-width: 100%;
      }
  </style>
{% endblock style %}

{% block content %}
  <div id="app" class="container">
      <form class="" id="faceform" action="https://api-cn.faceplusplus.com/cardpp/v1/ocrbankcard" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-group col-md-6 col-center-block">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Select Model</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'predict' %}">ResNet50</a>
              <a class="dropdown-item" href="{% url 'predict_MobileNet' %}">MobileNet</a>
              <a class="dropdown-item" href="{% url 'predict_MobileNetV2' %}">MobileNetV2</a>
              <a class="dropdown-item" href="{% url 'predict_Xception' %}">Xception</a>
              <a class="dropdown-item" href="{% url 'predict_VGG16' %}">VGG16</a>
              <a class="dropdown-item" href="{% url 'predict_VGG19' %}">VGG19</a>
              <a class="dropdown-item" href="{% url 'predict_DenseNet121' %}">DenseNet121</a>
              <a class="dropdown-item" href="{% url 'predict_DenseNet169' %}">DenseNet169</a>
              <a class="dropdown-item" href="{% url 'predict_DenseNet201' %}">DenseNet201</a>
              <a class="dropdown-item" href="{% url 'predict_InceptionResNetV2' %}">InceptionResNetV2</a>
              <a class="dropdown-item" href="{% url 'predict_InceptionV3' %}">InceptionV3</a>
              <a class="dropdown-item" href="{% url 'predict_NASNetMobile' %}">NASNetMobile</a>
              <a class="dropdown-item" href="{% url 'predict_NASNetLarge' %}">NASNetLarge</a>
            </div>
        </ul>
        </div>
        <br>
        <div class="input-group col-md-6 col-center-block">
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="image" @change="getFile1" id="image_file1" aria-describedby="inputGroupFileAddon01">
            <label class="custom-file-label" for="image_file1">Choose file</label>
          </div>
        </div>
        <br>
      </form>
      <br>
      <div class="col-md-6 col-center-block">
        <button type="button" @click="submit" class="btn btn-warning">Identify</button>
        <br>
        <br>
        <span id="showprediction"></span>
        <br>
        <br>
      </div>
      <div class="row">
        <div class="col-md-6 col-center-block">
          <img class="img-responsive" id="img1" :src="src1" hidden>
        </div>
      </div>
  </div>

{% endblock content %}


