{% extends "base_predict.html" %}
{% load staticfiles %}

{% block scripts %}

<script>
    var app = new Vue({
      el: '#app',
      data:{
          src1: '',
          file1: null,
          label: false
      },
      methods:{
        submit:function(){
            var self = this
            var labels = []
            var probabilities = []
            $('#showprediction').text('In the calculation, please wait...')
            $.ajax({
                url: 'api/',
                type: 'POST',
                cache: false,
                data: new FormData($('#faceform')[0]),
                processData: false,
                contentType: false,
                timeout: 30000,//10秒超时时间
            }).done(function(res) {
                try {
                /*    console.log(res.predictions[0].label) */
                /*
                for (var i=1; i <= 5; i++) {
                      labels.append(res.predictions[i].label)
                }
                  $('#showprediction').text('Prediction: '+ labels[0])
                */
                 $('#showprediction').text('Prediction: '+ res.predictions[0].label)
                }
                catch (e) {
                $('#showprediction').text('Prediction: unknown, please try it again!')
                }
            }).fail(function(res) {
                $('#showprediction').text('Prediction: unknown, please try it again!')
            });
        },
        getFile1:function($event){
          this.file1 = $event.target.files[0];
          var reader = new FileReader();
          reader.readAsDataURL(this.file1);
          var app = this;
          reader.onloadend=function() {
              app.src1 = this.result;
              $('#img1').attr('hidden',false)
          };
        },
      }
    })
</script>

{% endblock scripts %}
